
#sidebar{
    color: #9e9ea4;
}
.main-container{
    background-color: #1d2634;
}
.print-div{
    width: 100%;
    height: 20%;
    margin-bottom: .5%;
}
.back{
    width: 39%;
    display: inline-block;
}
.back input{
    background-color: rgb(211, 203, 203);
    border: .2px solid rgb(172, 152, 152);
}
.print{
    width: 60%;
    display: inline-block;
    text-align: right;
}


.img{
    width: 12%;
    display: inline-block;
    margin-top: 2%;
}
.img img{
    width: 100%;
}
.qrcode{
    width: 8%;
    height: 10%;
    display: inline-block;
}
.qrcode img{
    width: 100%;
}
.info{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    padding: 1%;
    font-size: .75rem;
}
.assetinfo{
    background-color:aliceblue;
    padding: 2%;
}
.assetinfo h3{
    font-size: 1rem;
}

.assetinfobuttons input:nth-of-type(1){
    width: 5%;
    padding: .1%;
    background-color: rgb(224, 172, 92);
    border: .2px solid rgb(172, 152, 152);
}
.assetinfobuttons input:nth-of-type(2){
    width: 5%;
    padding: .1%;
    background-color: rgb(224, 172, 92);
    border: .2px solid rgb(172, 152, 152);
}
.assetinfobuttons input:nth-of-type(3){
    width: 7%;
    padding: .1%;
    background-color: rgb(224, 172, 92);
    border: .2px solid rgb(172, 152, 152);
}
.assetinfobuttons input:nth-of-type(4){
    width: 5%;
    padding: .1%;
    background-color: rgb(224, 172, 92);
    border: .2px solid rgb(172, 152, 152);
}
.assetinfobuttons input:nth-of-type(5){
    width: 8%;
    padding: .1%;
    background-color: rgb(224, 172, 92);
    border: .2px solid rgb(172, 152, 152);
}
.assetinfobuttons input:nth-of-type(6){
    width: 12%;
    padding: .1%;
    background-color: rgb(224, 172, 92);
    border: .2px solid rgb(172, 152, 152);
}
.assetinfobuttons input:hover{
    color: white;
    background-color: black;
}

.info1{
    border: .2px solid gray;
}
.data{
    width: 100%;
    background-color:aliceblue;
    padding: 1%;
}
.data header h6{
    font-size: .8rem;
}
.lower{
    padding: 1%;
}
.lower header{
    border-bottom: 1px solid gray;
    margin-bottom: 1%;
}
.lower header h5{
    font-size: .8rem;
}
.ecard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    padding: 0 1% 1% 1%;
    
}
.note{
    width: 40%;
    text-align: left;
}
.dept{
    width: 50%;
}
.dept input{
    width: 10%;
}
