*{
    color:black;
}
.main-container{
    background-color: rgb(211, 203, 203);
}
.print-div{
    width: 100%;
    height: 20%;
    margin-bottom: .5%;
}
.back{
    width: 39%;
    display: inline-block;
}
.back input{
    background-color: rgb(211, 203, 203);
    border: .2px solid rgb(172, 152, 152);
}
.print{
    width: 60%;
    display: inline-block;
    text-align: right;
}
.print input{
    background-color: rgb(211, 203, 203);
    border: .2px solid rgb(172, 152, 152);

    width: 10%;
}

.title span{
    color: rgb(224, 176, 16);
    font-family: sans-serif;

}
.img{
    width: 12%;
    display: inline-block;
    margin-top: 2%;
}
.img img{
    width: 100%;
}
.qrcode{
    width: 8%;
    height: 10%;
    display: inline-block;
}
.qrcode img{
    width: 100%;
}
.info{
    width: 50%;

}

.assetinfo{
    background-color:aliceblue;
    padding: 2%;
}

.assetinfobuttons input:nth-of-type(1){
    width: 5%;
    padding: .3%;
    background-color: rgb(224, 172, 92);
    border: .2px solid rgb(172, 152, 152);
}
.assetinfobuttons input:nth-of-type(2){
    width: 5%;
    padding: .3%;
    background-color: rgb(224, 172, 92);
    border: .2px solid rgb(172, 152, 152);
}
.assetinfobuttons input:nth-of-type(3){
    width: 7%;
    padding: .3%;
    background-color: rgb(224, 172, 92);
    border: .2px solid rgb(172, 152, 152);
}
.assetinfobuttons input:nth-of-type(4){
    width: 5%;
    padding: .3%;
    background-color: rgb(224, 172, 92);
    border: .2px solid rgb(172, 152, 152);
}
.assetinfobuttons input:nth-of-type(5){
    width: 8%;
    padding: .3%;
    background-color: rgb(224, 172, 92);
    border: .2px solid rgb(172, 152, 152);
}
.assetinfobuttons input:nth-of-type(6){
    width: 12%;
    padding: .3%;
    background-color: rgb(224, 172, 92);
    border: .2px solid rgb(172, 152, 152);
}
.assetinfobuttons input:hover{
    color: white;
    background-color: black;
}

.info1{
    border: .2px solid gray;
}
.data{
    width: 100%;
    background-color:aliceblue;
    padding: 2%;
}
.ecard{
    display: flex;

}
