/* *{
    margin: 0 auto;
    padding: 0;
} */

.btn-main{
    width: 100%;
    text-align: center;
}
.btn1{
    width: 20%;
    padding: .3rem;
    background-color:  #0d6efd;
    color: white;
    border: .5px solid black;
}
.btn1:hover{
    background-color: rgb(21, 167, 204);
    color:black;
}
.sidebar-brand{
    color: white;
}
