<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Facilities</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css" />
    <link rel="stylesheet" href="/assets/css/asset.css">
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        <a href="/loginpage" class="logout">
                <span class="material-icons-outlined" title="Logout">reply</span>
        </a>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined"></span> SAILORCOM
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="dashboard.html" target="_blank">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">inventory_2</span> Assets
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">category</span> Supplies
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/users">
              <span class="material-icons-outlined">groups</span> Users
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">fact_check</span> Maintenance
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">poll</span> Reports
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/department">
              <span class="material-icons-outlined">sort</span> Department
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">settings</span> Settings
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>Facilities</h2>
        </div>
        <div class="card-content">
            <div>
                <input class="search" type="text" placeholder="Search Facilities"  id="search">
                <button class="custom-button" id="openModalBtnasset"><span class="material-icons-outlined" title="Add Assets">plus_one</span> </button>
                <button class="custom-button" ><span class="material-icons-outlined" title="Print">computer</span> </button>
                <button class="custom-button" ><span class="material-icons-outlined" title="Print Asset tags">add_to_queue</span> </button>
                <button class="custom-button" ><span class="material-icons-outlined" title="More">build</span> </button>
            </div>

            <div class="card-content">
                <div class="card-table">
                    <div class="table-container">
                        <table id="my-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Locations</th>
                              <th>Last Price</th>
                              <th>Person Incharge</th>
                              
                              <th>Contact Number</th>
                            
                              <th>ACTION</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>JOHN WICK 4</td>
                                <td>#8484848</td>
                                <td>SINGLE</td>
                                <td>$200</td>
                                <td>MR. WICK</td>
                                <td>BATANGGAS</td>
                                <td>CAMOTE</td>
                                <td>
                                </td>
                            </tr>
                          </tbody>
                        </table>
                      
                        <div id="pagination-container">
                          <ul id="pagination"></ul>
                        </div>
                      </div>
                  </div> 
              </div>
            </div>
      </main>
      <!-- End Main -->

      <!--Modal-->
      <div id="myModalasset" class="modal">
        <div class="modal-content">
          <h2 class="h2h2">Add Facilities</h2>

            <div class="centered-container">
              <div class="name">Name</div>
                <input class="input-dept" type="text" placeholder="Name" id="name" required>
            </div>
            <div class="centered-container">
              <div class="name">Location</div>
                <input class="input-dept" type="text" placeholder="Location" id="username" required>
            </div>
            <div class="centered-container">
              <div class="name">Last Price</div>
                <input class="input-dept" type="text" placeholder="Last Price" id="password" required>
            </div>
        
            <div class="centered-container">
              <div class="name"> Person Incharge</div>
              <input class="input-dept" type="text" placeholder="Person incharge" id="password" required>
            </div>
            <div class="centered-container">
              <div class="name">Contact Number</div>
              <input class="input-dept" type="text" placeholder="Contact Number" id="password" required>
            </div>
            <div class="name">Vendor</div>
            <select id="accntType" required>
              <option value="Vendor"></option>
              <option value="Administrator"></option>
              <option value="User"></option>
          </select>
           
            <div class="centered-container">
                <button class="custom-button"><span class="material-icons-outlined" title="CREATE" >create</span></button>
                <button class="custom-button">CANCEL</button>
            </div>         
        </div>
      </div>
      <!--End Modal-->

      <!--Update Modal-->
      <div id="myModalassetupdate" class="modal">
        <div class="modal-content">
          <h2 class="h2h2">Edit Facilities</h2>

            <div class="centered-container">
              <div class="name">Name</div>
                <input class="input-dept" type="text" placeholder="Name" id="name" required>
            </div>
            <div class="centered-container">
              <div class="name">Location</div>
                <input class="input-dept" type="text" placeholder="Location" id="username" required>
            </div>
            <div class="centered-container">
              <div class="name">Last Price</div>
                <input class="input-dept" type="text" placeholder="Last Price" id="password" required>
            </div>
        
            <div class="centered-container">
              <div class="name"> Person Incharge</div>
              <input class="input-dept" type="text" placeholder="Person incharge" id="password" required>
            </div>
            <div class="centered-container">
              <div class="name">Contact Number</div>
              <input class="input-dept" type="text" placeholder="Contact Number" id="password" required>
            </div>
            <div class="name">Vendor</div>
            <select id="accntType" required>
              <option value="Vendor"></option>
              <option value="Administrator"></option>
              <option value="User"></option>
          </select>
           
            <div class="centered-container">
                <button class="custom-button"><span class="material-icons-outlined" title="CREATE" >create</span></button>
                <button class="custom-button">CANCEL</button>
            </div>    
        </div>
      </div>
      <!--End edit Modal-->

    </div>

    <!--Start Modal Delete-->
        <div id="myModaldelete" class="modal">
        <div class="modal-content">
            <h2 class="h2h2">ARE YOU SURE YOU WANT TO DELETE THIS?</h2>
            <div class="centered-container">
              <p class="h2black"></p>
            </div>
            <div class="centered-container">
                <button class="custom-button"><span class="material-icons-outlined" title="Delete" >delete</span></button>
                <button class="custom-button">CANCEL</button>
            </div>
        </div>
        </div>
    <!--Delete end modal-->

    <!-- Scripts -->
    <script>
      $(document).ready(function () {
        getdata();
      });

      // display Data in the table
      var currentPage = 1; // Current page number
      var itemsPerPage = 5; // Number of items to display per page

      function getdata() {
        $("#details").empty();

        $.get("/api/get_group", function (index) {
          var result = JSON.parse(index).item;
          var startIndex = (currentPage - 1) * itemsPerPage;
          var endIndex = startIndex + itemsPerPage;
          for (var i = startIndex; i < endIndex && i < result.length; i++) {
            var v = result[i];

            $("#details").append(`
              <tr>
                <td>` + v.Name + `</td>
                <td>` + v.Description + `</td>

                <td>
                  <button class="custom-button" id="openModalBtneditdept-` + v.ID + `" onclick="Modify(` + v.ID + `)">
                    <span class="material-icons-outlined" title="Update Account" onclick="Modify(` + v.ID + `)">create</span>
                  </button>

                  <button class="custom-button delete" id="openModalBtndeletedept" onclick="Delete(` + v.ID + `)">
                    <span class="material-icons-outlined" title="Delete" onclick="Delete(` + v.ID + `)">delete</span>
                  </button>
                </td>
              </tr>
            `);
          }
          updatePaginationButtons(result.length);
        });
      }

      function updatePaginationButtons(totalItems) {
        var totalPages = Math.ceil(totalItems / itemsPerPage);


        if (currentPage === 1) {
          $("#prevButton").prop("disabled", true);
        } else {
          $("#prevButton").prop("disabled", false);
        }


        if (currentPage === totalPages) {
          $("#nextButton").prop("disabled", true);
        } else {
          $("#nextButton").prop("disabled", false);
        }
      }


      function goToPreviousPage() {
        if (currentPage > 1) {
          currentPage--;
          getdata();
        }
      }


      function goToNextPage() {
        currentPage++;
        getdata();
      }


    // ADD GROUP ACCOUNT
    function Submit(){
    var name =  $("#name").val()
    var description =  $("#des").val()
    

      if (name == "" || description=="") {
            Swal.fire({
              toast: true,
              position: "center",
              icon: "warning",
              title: "Please Complete Required Details",
              showConfirmButton: false,
              timer: 3000,
            });
          } else {
            $.ajax({
              url: "/api/group",
              data: {
                name: name,
                description: description,
               
              },
              success: function () {
                Swal.fire({
                  toast: true,
                  position: "center",
                  icon: "success",
                  title: "New Group Added",
                  showConfirmButton: false,
                  timer: 3000,
                }).then(function(){
                  window.location.reload();
                });
              },
            });
          }
    }

    // Cancel Function
    function Cancel(id) {
        if (id == 1) {
          var modal = document.getElementById("myModal");
          modal.style.display = "none";
        } else if (id == 2) {
          var modal = document.getElementById("myModaledit");
          modal.style.display = "none";
        } else {
          var modal = document.getElementById("myModaldelete");
          modal.style.display = "none";
        }
      }

      // Onclick Edit
      function Modify(id) {
        var modal = document.getElementById("myModaledit");
        modal.style.display = "block";

        $.get("/api/get_group", function (index) {
          var result = JSON.parse(index).item;
          $.each(result, function (_, v) {
            if (v.ID == id) {
              localStorage.setItem("id", id);
              $("#editname").val(v.Name);
              $("#editdes").val(v.Description);
              // ADD PERMISSION HERE
            }
          });
        });
      }

      function Edit() {
      var name = $("#editname").val();
      var description = $("#editdes").val();
      var id = localStorage.getItem("id");

       // console.log(name, password, username, accntType, department, position,id);
        if (name == "") {
          Swal.fire({
            toast: true,
            position: "center",
            icon: "warning",
            title: "Please Complete Required Details",
            showConfirmButton: false,
            timer: 3000,
          });
        } else {
          $.ajax({
            url: "/api/edit_group",
            data: {
              name: name,
              description: description,
              id: id,
              //PERMISSION HERE
            },
            success: function () {
              Swal.fire({
                toast: true,
                position: "center",
                icon: "success",
                title: "Group Updated",
                showConfirmButton: false,
                timer: 3000,
              }).then(function () {
                window.location.reload();
              });
            },
          });
        }
      }

      // Onclick Delete
      function Delete(id) {
        var modal = document.getElementById("myModaldelete");
        modal.style.display = "block";

        $.get("/api/get_group", function (index) {
          var result = JSON.parse(index).item;
          $.each(result, function (_, v) {
            if (v.ID == id) {
              localStorage.setItem("delete_id", id);
              $("#del_name").html(v.Name);
            }
          });
        });
      }

      // Search
      $("#search").on("change keyup", function (e) {
        Search(this.value.toLowerCase());
      });

      function Search(search) {
        var tableBody = document.getElementById("details");
        tableBody.innerHTML = "";

        $.get("/api/get_group", function (index) {
          var result = JSON.parse(index).item;
          $.each(result, function (_, v) {
            if (v.Name.toLowerCase().includes(search)) {
              tableBody.innerHTML +=
                `
              <tr>
              <td>` +v.Name +`</td>
              <td>` +v.Description +`</td>

              <td>
                <button class="custom-button" id="openModalBtneditdept-` +v.ID +`">
                <span class="material-icons-outlined" title="Update Account" onclick="Modify(` +v.ID +`)" >create</span></button>

                <button class="custom-button delete" id="openModalBtndeletedept">
                <span class="material-icons-outlined" title="Delete" onclick="Delete(` +v.ID +`)">delete</span></button>
            </td>
            </tr>
              `;
            }
          });
        });
      }

      // SAVE DELETE 
      function Remove() {
        var id = localStorage.getItem("delete_id");
        $.ajax({
          url: "/api/delete_group",
          data: {
            id: id,
          },
          success: function () {
            Swal.fire({
              toast: true,
              position: "center",
              icon: "success",
              title: "Group Deleted",
              showConfirmButton: false,
              timer: 3000,
            }).then(function () {
              window.location.reload();
            });
          },
        });
      }
    </script>























    
    <!-- ApexCharts -->
    <script src="/assets/js/listoffacilities.js"></script>
    <script src="/assets/js/dashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Custom JS -->
 
    
    <!--ADD asset JS-->
        <script>
            var openModalBtnasset = document.getElementById("openModalBtnasset");
        var closeModalBtnasset = document.getElementById("closeModalBtnasset");
        var modalasset = document.getElementById("myModalasset");

        openModalBtnasset.addEventListener("click", function() {
        modalasset.style.display = "block";
        });

        closeModalBtnasset.addEventListener("click", function() {
        modalasset.style.display = "none";
        });

        window.addEventListener("click", function(event) {
        if (event.target == modalasset) {
            modalasset.style.display = "none";
        }
        });
        </script>

    <!--EDIT USER JS-->
    <script>
       var openModalBtnassetupdate = document.getElementById("openModalBtnassetupdate");
        var closeModalBtnassetupdate = document.getElementById("closeModalBtnassetupdate");
        var modalassetupdate = document.getElementById("myModalassetupdate");

        openModalBtnassetupdate.addEventListener("click", function() {
        modalassetupdate.style.display = "block";
        });

        closeModalBtnassetupdate.addEventListener("click", function() {
        modalassetupdate.style.display = "none";
        });

        window.addEventListener("click", function(event) {
        if (event.target == modalassetupdate) {
            modalassetupdate.style.display = "none";
        }
        });
    </script>
    <!--DELETE USER JS-->
    <script>
        var openModalBtndelete = document.getElementById("openModalBtndelete");
        var closeModalBtndelete = document.getElementById("closeModalBtndelete");
        var modaldelete = document.getElementById("myModaldelete");

        openModalBtndelete.addEventListener("click", function() {
        modaldelete.style.display = "block";
        });

        closeModalBtndelete.addEventListener("click", function() {
        modaldelete.style.display = "none";
        });

        window.addEventListener("click", function(event) {
        if (event.target == modaledit) {
            modaldelete.style.display = "none";
        }
        });  
    </script>
  </body>
</html>