<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/popup.css">
    <title>popup</title>
</head>
<body>
    <div class="form">
        <header><h1>Create User</h1></header>
        <div class="name same"><h3>Name</h3><input type="text" placeholder="Full Name" required></div>
        <div class="pass same"><h3>Password</h3><input type="password" placeholder="Password" required></div>
        <div class="pos same"><h3>Position</h3><input type="text" placeholder="Position" required></div>
        <div class="dept same"> <h3>Department</h3><input type="text" placeholder="Department" required></div>
        <div class="btns">
            <button class="btn-a" onclick="Submit()">Create User</button>
            <button class="btn-a">close</button>
        </div>

    </div>
</body>
</html>