<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>System Role</title>

    <!-- Montserrat Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"
    />
    <script
      defer
      src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"
    ></script>
  </head>
  <body>
    <div class="grid-container">
      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
          <a href="/loginpage" class="logout">
            <span class="material-icons-outlined" title="Logout">reply</span>
          </a>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined"></span> SAILORCOM
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()"
            >close</span
          >
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/dashboard">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <span class="material-icons-outlined">inventory_2</span> Asset
            Hierarchy
            <ul class="dropdown-menu">
              <li><a href="#" target="_blank">Location</a></li>
              <li><a href="#" target="_blank">Facility</a></li>
              <li><a href="#" target="_blank">Equipment</a></li>
              <li><a href="#" target="_blank">Spare part</a></li>
              <li><a href="#" target="_blank">Special tools </a></li>
              <li><a href="#" target="_blank">Supplies</a></li>
            </ul>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">category</span> Supplies
            </a>
          </li>
          <li class="sidebar-list-item">
            <span class="material-icons-outlined">groups</span> User Management
            <ul class="dropdown-menu">
              <li><a href="/users">User</a></li>
              <li><a href="/position">System Role</a></li>
              <li><a href="/group">Group</a></li>
            </ul>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">fact_check</span>
              Maintenance
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">poll</span> Reports
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">settings</span> Settings
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>SYSTEM ROLE</h2>
        </div>
          

          <div class="card-content">
            <div>
              <input
                class="search"
                type="text"
                placeholder="Search..."
                id="search"
              />
              <button class="custom-button" id="openModalBtnasset">
                <span class="material-icons-outlined" title="Add Assets"
                  >plus_one</span
                >
              </button>
            </div>
            <div class="card-table">
              <div class="table-container">
                <table id="my-table" class="custom-table">
                  <thead>
                    <tr>
                      <!-- <th><input type="checkbox" id="recheck"> -->
                      <!-- <label for="recheck">Select All</label></th> -->
                      <th>Name</th>
                      <th>Description</th>
                      <th>Permission</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="details">
                    <!-- APPEND TABLE DATA HERE -->
                  </tbody>
                </table>
                <button class="custom-button" id="prevButton" onclick="goToPreviousPage()" disabled><span class="material-icons-outlined" title="Previous Page"
                  >arrow_back</span
                ></button>
                <button class="custom-button" id="nextButton" onclick="goToNextPage()" disabled><span class="material-icons-outlined" title="Next Page"
                  >arrow_forward</span
                ></button>
                </div>

              </div>
            </div>
          </div>
      </main>
      <!-- End Main -->

      <!--Modal-->
      <div id="myModal" class="modal">
        <div class="modal-content">
          <h2 class="h2h2">Add System Role</h2>
          <div class="centered-container">
            <h2 class="label">Name</h2>
          </div>
          <div class="centered-container">
            <input class="input-dept" type="text" placeholder=" Name" id="name" required>
          </div>
          <div class="centered-container"><h2 class="label">Description</h2></div>
          <div class="centered-container">
            <textarea rows="4" cols="65" id="desc" name="comment" form="usrform"></textarea>
          </div>

          <div class="panel panel-default">
            <!-- <div class="panel-body">A Basic Panel</div> -->
           <div class="centered-container">
              <h2 class="label">Permission</h2></div>
              <div class="container" id="permissionlist">
                 <!-- Append data here -->
              </div>
              <!-- end of panel -->
            </div> 
          

          <div class="centered-container">
           
            <button class="custom-button" onclick="Submit()">
              <span class="material-icons-outlined" title="CREATE">create</span>
            </button>
            <button class="custom-button" onclick="Cancel(1)">Cancel</button>
          </div>
        </div>
      </div>
      <!--End Modal-->

      <!--Update Modal-->
      <div id="myModaleditpos" class="modal">
        <div class="modal-content">
          <h2 class="h2h2">Edit System Role</h2>
          <div class="centered-container">
            <h2 class="label">Department</h2>
          </div>
          <div class="centered-container">
            <input
              class="input-dept"
              type="text"
              placeholder="Department"
              id="dept" 
            />
          </div>
          <div class="centered-container"><h2 class="label">Position</h2></div>
          <div class="centered-container">
            <input
              class="input-dept"
              type="text"
              placeholder="Position"
              id="pos"
              required
            />
          </div>

          <div class="centered-container">
            <h2 class="label">Permission</h2></div>
            <div class="container" id="editpermissionlist">
               <!-- Append data here -->
            </div>
            <!-- end of panel -->
          </div> 

          <div class="centered-container">
            <button class="custom-button" onclick="Edit()">
              <span class="material-icons-outlined" title="Submit">create</span>
            </button>
            <button class="custom-button" onclick="Cancel(2)">Cancel</button>
          </div>
        </div>
      </div>
      <!--End edit Modal-->
    </div>

    <!--Start Modal Delete-->
    <div id="myModaldelete" class="modal">
      <div class="modal-content">
        <h2 class="h2h2">ARE YOU SURE YOU WANT TO DELETE THIS?</h2>
        <div class="centered-container">
          <p class="h2black" id="del_name"></p>
        </div>
        <div class="centered-container">
          <button class="custom-button">
            <span
              class="material-icons-outlined"
              title="Submit"
              onclick="Remove()"
              >create</span
            >
          </button>
          <button class="custom-button" onclick="Cancel(3)">Cancel</button>
        </div>
      </div>
    </div>
    <!--Delete end modal-->

    <!-- Scripts -->
    <!-- ApexCharts -->
    
    <script src="/assets/js/dashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Custom JS -->

    <script>
      var result = []
      //GET DATA
      $(document).ready(function () {
        getdata();
        permissionlist();
       
       // get_department();
      });

      // display Data in the table
      var currentPage = 1; // Current page number
      var itemsPerPage = 5; // Number of items to display per page


      function permissionlist(){
        $("#permissionlist").empty();

        $.get("/api/get_permission", function (index) {
         var result = JSON.parse(index).item;
         $.each(result, function (_, v) {
          $("#permissionlist").append(`
          <div class="checkbox">
            <input type="checkbox" name="type" class="messageCheckbox" id="`+v.ID+`" value = "`+v.ID+`" onclick="Checked()">
             <label for="new1"> </label>`+v.Description+`</label>
          </div>
          `)
          //EDIT
          $("#editpermissionlist").append(`
          <div class="checkbox">
            <input type="checkbox" name="type" class="messageCheckbox" id="`+v.ID+`" value = "`+v.ID+`" onclick="Checked()">
             <label for="new1"> </label>`+v.Description+`</label>
          </div>
          `)

         })
        })
      }
      function Checked(){
        result = []
        $.each($("input[name='type']:checked"), function(){                    
          result.push({
           permID : $(this).val()
        })
          localStorage.setItem("result", JSON.stringify(result));
        });
      }

     

     
      function getdata() {
        $("#details").empty();

        $.get("/api/get_position", function (index) {
          var result = JSON.parse(index).item;
          var list = JSON.parse(index).permission;
          var startIndex = (currentPage - 1) * itemsPerPage;
          var endIndex = startIndex + itemsPerPage;
          $.each(result.slice(startIndex, endIndex), function (_, v) {
            $("#details").append(`
              <tr>
                <td>${v.Name}</td>
                <td>${v.Description}</td>
                <td > <ul id="perm-`+v.ID+`">
              
            </ul></td>
                <td>
                  <button class="custom-button" id="openModalBtneditdept-${v.ID}">
                    <span class="material-icons-outlined" title="Update Position" onclick="Modify(${v.ID})">create</span>
                  </button>
                  <button class="custom-button delete" id="openModalBtndeletedept">
                    <span class="material-icons-outlined" title="Delete" onclick="Delete(${v.ID})">delete</span>
                  </button>
                </td>
              </tr>
            `);
            $.each(list, function (_, k) {
            console.log(k)
            if(v.ID == k.PositionID){
              $("#perm-"+v.ID).append(`
              <li>`+k.Permission.Description+`</li>
              `)

               $("#perm1-"+v.ID).append(`
              <li>`+k.Permission.Description+`</li>
              `)

            }
           });
           
          });
         
        
          updatePaginationButtons(result.length);
        });
      }


      function updatePaginationButtons(totalItems) {
        var totalPages = Math.ceil(totalItems / itemsPerPage);


        if (currentPage === 1) {
          $("#prevButton").prop("disabled", true);
        } else {
          $("#prevButton").prop("disabled", false);
        }


        if (currentPage === totalPages) {
          $("#nextButton").prop("disabled", true);
        } else {
          $("#nextButton").prop("disabled", false);
        }
      }


      function goToPreviousPage() {
        if (currentPage > 1) {
          currentPage--;
          getdata();
        }
      }


      function goToNextPage() {
        currentPage++;
        getdata();
      }


      // Onclick Edit
      function Modify(id) {
        var modal = document.getElementById("myModaleditpos");
        modal.style.display = "block";

        $.get("/api/get_position", function (index) {
          var result = JSON.parse(index).item;
          $.each(result, function (_, v) {
            if (v.ID == id) {
              localStorage.setItem("position_id", id);
              $("#pos").val(v.Name);
              $("#dept").val(v.Description);
            }
          });
        });
      }

      
      // CREATE ======================
      function Submit() {
        var role = $("#name").val();
        var desc = $("#desc").val();
        var result = localStorage.getItem("result")

        if (role == "" || desc == "") {
          Swal.fire({
            toast: true,
            position: "center",
            icon: "warning",
            title: "Please Complete Required Details",
            showConfirmButton: false,
            timer: 3000,
          });
        } else {
          $.ajax({
            url: "/api/position",
            data: {
              result : result,
              description: desc,
              role: role,
            },
            success: function () {
              Swal.fire({
                toast: true,
                position: "center",
                icon: "success",
                title: "New Position Added",
                showConfirmButton: false,
                timer: 3000,
              }).then(function () {
                localStorage.removeItem("result")
                window.location.reload();
              });
            },
          });
        }
      }

      // EDIT ====================== save edit
      // UPDATE ======================
      function Edit() {
        var position = $("#pos").val();
        var id = localStorage.getItem("position_id");

        if (position == "") {
          Swal.fire({
            toast: true,
            position: "center",
            icon: "warning",
            title: "Please Complete Required Details",
            showConfirmButton: false,
            timer: 3000,
          });
        } else {
          $.ajax({
            url: "/api/edit_position",
            data: {
              name: position,
              id: id,
            },
            success: function () {
              Swal.fire({
                toast: true,
                position: "center",
                icon: "success",
                title: "Department Name Updated",
                showConfirmButton: false,
                timer: 3000,
              }).then(function () {
                window.location.reload();
              });
            },
          });
        }
      }

      // DELETE ======================
      // Onclick Delete
      function Delete(id) {
        var modal = document.getElementById("myModaldelete");
        modal.style.display = "block";

        $.get("/api/get_position", function (index) {
          var result = JSON.parse(index).item;
          $.each(result, function (_, v) {
            if (v.ID == id) {
              localStorage.setItem("delete_id", id);
              $("#del_name").html(v.Name);
            }
          });
        });
      }

      function Remove() {
        var id = localStorage.getItem("delete_id");
        $.ajax({
          url: "/api/delete_position",
          data: {
            id: id,
          },
          success: function () {
            Swal.fire({
              toast: true,
              position: "center",
              icon: "success",
              title: "Position Deleted",
              showConfirmButton: false,
              timer: 3000,
            }).then(function () {
              window.location.reload();
            });
          },
        });
      }

      // SEARCH ======================
      $("#search").on("change keyup", function (e) {
        Search(this.value.toLowerCase());
      });

      function Search(search) {
        var tableBody = document.getElementById("details");
        tableBody.innerHTML = "";

        $.get("/api/get_position", function (index) {
          var result = JSON.parse(index).item;
          var list = JSON.parse(index).permission;
          $.each(result, function (_, v) {
            if (v.Name.toLowerCase().includes(search)) {
              tableBody.innerHTML +=
                `
              <tr>
              <td>` +
                v.Department.Name +
                `</td>
              <td>` +
                v.Name +
                `</td>
              <td><button class="custom-button" id="openModalBtneditdept-` +
                v.ID +
                `"><span class="material-icons-outlined" title="Update Position" onclick="Modify(` +
                v.ID +
                `)" >create</span></button>
                  <button class="custom-button delete" id="openModalBtndeletedept"><span class="material-icons-outlined" title="Delete" onclick="Delete(` +
                v.ID +
                `)">delete</span></button>
                  </td>
            </tr>
          `;

          $.each(list, function (_, k) {
            console.log(k)
            if(v.ID == k.PositionID){
              $("#perm-"+v.ID).append(`
              <li>`+k.Permission.Description+`</li>
              `)

            }
           });
            }
          });
        });
      }

      // CANCEL FUNC
      function Cancel(id) {
        if (id == 1) {
          var modal = document.getElementById("myModal");
          modal.style.display = "none";
        } else if (id == 2) {
          var modal = document.getElementById("myModaleditpos");
          modal.style.display = "none";
        } else {
          var modal = document.getElementById("myModaldelete");
          modal.style.display = "none";
        }
      }
    </script>

    <!--ADD asset JS-->
    <script>
      var openModalBtnasset = document.getElementById("openModalBtnasset");
      var closeModalBtnasset = document.getElementById("closeModalBtnasset");
      var modalasset = document.getElementById("myModal");

      openModalBtnasset.addEventListener("click", function () {
        modalasset.style.display = "block";
      });

      closeModalBtnasset.addEventListener("click", function () {
        modalasset.style.display = "none";
      });

      window.addEventListener("click", function (event) {
        if (event.target == modalasset) {
          modalasset.style.display = "none";
        }
      });
    </script>

    <!--EDIT USER JS-->
    <script>
      var openModalBtnassetupdate = document.getElementById(
        "openModalBtnassetupdate"
      );
      var closeModalBtnassetupdate = document.getElementById(
        "closeModalBtnassetupdate"
      );
      var modalassetupdate = document.getElementById("myModalassetupdate");

      openModalBtnassetupdate.addEventListener("click", function () {
        modalassetupdate.style.display = "block";
      });

      closeModalBtnassetupdate.addEventListener("click", function () {
        modalassetupdate.style.display = "none";
      });

      window.addEventListener("click", function (event) {
        if (event.target == modalassetupdate) {
          modalassetupdate.style.display = "none";
        }
      });
    </script>
    <!--DELETE USER JS-->
    <script>
      var openModalBtndelete = document.getElementById("openModalBtndelete");
      var closeModalBtndelete = document.getElementById("closeModalBtndelete");
      var modaldelete = document.getElementById("myModaldelete");

      openModalBtndelete.addEventListener("click", function () {
        modaldelete.style.display = "block";
      });

      closeModalBtndelete.addEventListener("click", function () {
        modaldelete.style.display = "none";
      });

      window.addEventListener("click", function (event) {
        if (event.target == modaledit) {
          modaldelete.style.display = "none";
        }
      });
    </script>
  </body>
</html>
