<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Tool Info</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <link rel="stylesheet" href="/assets/css/toolclicked.css">
    <link rel="stylesheet" href="/assets/css/assetcathegory.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">SAILORCOM</span> 
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">inventory_2</span> Assets
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">category</span> Supplies
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">groups</span> Users
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">fact_check</span> Maintenance
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">poll</span> Reports
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">settings</span> Settings
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-frame">
            <div class="print-div">
                <div class="back">
                <input type="button" value="← Back">
                <input type="button" value="Settings">
                </div>
                <div class="print">
                <input type="button" value="Print">
                </div>
            </div>

            <div class="assetinfo">
                <h3 class="title">Tools:
                    <span class="name">Power Saw</span></h3>
                <div class="img">
                    
                    <img src="/assets/img/logback.jpg">
                </div>
                <div class="inputs">
                  <div class="input-name">
                    <input type="text" placeholder="Name">
                  </div>
                  <div class="input-comment">
                    <textarea name="comment" id="com1" cols="50" rows="5"></textarea>
                  </div>
                </div>
                <div class="qrcode">
                    
                    <img src="/assets/img/barcode.png" >
                </div>
                <div class="info">
                    <p>Portable Inverter Generator, Inverter, Gasoline, Generator Rated Watts 5500, Surge Watts 7000, 120/240VAC, Generator Amps 58.3/29.1, Generator Engine Brand Honda, Generator Starter Type Electric/Recoil, Generator Outlets 5-20R 120VAC Duplex GFCI (2), L5-30R 120VAC Twist-Lock (1), L14-30R 120/240VAC Twist-Lock (1), CARB Compliant Yes, Circuit Breaker Yes, Engine Displacement 389cc, 
                        Sound Level dB 60, Parallel Configuration Capable 
                        Yes</p> 
                    <span>CODE:</span><br>
                    <span>Category:</span><br>
                </div>
                <div class="code-1">
                  <p>Code</p>
                  <input type="text" name="bar" id="barcodes" placeholder="Barcode">
                 </div>
                 <div class="in-cathegory">
                  <p>Category</p>
                  <select name="part" id="fac-part">
                    <option value="powerhouse">Tools</option>
                    <option value="powerhouse">India</option>
                   </select>                             
                  </div>
            </div>
            <div class="assetinfobuttons">
                <input type="button" value="General">
                <input type="button" value="Parts">
                <input type="button" value="Personel">
                <input type="button" value="Files">
                <input type="button" value="Warranties">
                <input type="button" value="Maintenance schedule">
            </div>
            <div class="data">
      
                <div class="info1">
                    <div class="upper">
                      <div class="loc-up">
                      </div>
                    </div>
                    <div class="lower"> 
                        <header><h5>Location</h5></header>
                        <div class="ecard">
                            <div class="check1">
                                <label for="chk">Account: </label>
                                
                               <select name="part" id="fac-part">
                                <option value="Accounts-1"></option>
                                <option value="Accounts-1">Sewage</option>
                               </select>

                               <p>Notes</p>
                               <textarea name="" id="" cols="60" rows="13"></textarea>
                               
                             
                            </div>
                            <div class="dept">
                              <div class="gen">
                                <div class="h6"><h6>Genaral Information:</h6></div>
                                <div class="gen2">
                                  <div class="Province">            
                                    </div>
                                    <div class="barcode--2">
                                      <p>Barcode</p>
                                      <input type="text" name="bar" id="barcodes" placeholder="Barcode">
                                     </div>
                                     <div class="barcode--2">
                                      <p>Serial Number</p>
                                      <input type="text" name="ser" id="Serial-1" placeholder="Serial ">
                                     </div>
                                     <div class="Province">
                                      <p>Model</p>
                                      <input type="text" name="Models" id="Models" placeholder="Model">
                                     </div>
                                     <div class="makers">
                                      <p>Make</p>
                                      <input type="text" name="make" id="makes" placeholder="Make">
                                     </div>
                                    <div class="in-charge">
                                      <p>Charge Department</p>
                                      <select name="part" id="fac-part">
                                        <option value="powerhouse">It</option>
                                        <option value="powerhouse">India</option>
                                       </select>                             
                                      </div>
                                      
                                </div>
                              </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>

        </div>
        
      </main>
      
      <!-- End Main -->

    </div>

    
    <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"
  ></script>
  <script src="/assets/js/assetlist.js"></script>
  </body>
</html>