*{
    margin: 0 auto;
    padding: 0;
}

.form{
    width: 20%;
    height: 450px;
    border: 1.5px solid rgb(214, 162, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(95, 94, 94);
    border-radius: 25px;
    position: absolute;
    right: 40%;
    top: 20%;
}
h1{
    color: rgb(214, 162, 17) ;
    margin-bottom: 1.5rem;
    letter-spacing: .2rem;
    
}
.same input{
    width: 18rem;
    height: 1.5rem;
    margin-bottom: 3%;
    padding: 2%;
    border-color: rgb(214, 162, 17);;
}
h3{
    color: rgb(214, 162, 17);
    letter-spacing: .2rem;
}

.select {
    width: 18rem;
    height: 1.5rem;
    margin-bottom: 3%;
    padding: 2%;
    border-color: rgb(214, 162, 17);;
}

.btns{
    margin-top: 1rem;
}
.btns button:nth-of-type(1){
    width: 8rem;
    height: 2rem;
    color: gray;
    margin-right: 5rem;
    
}
.btns button:nth-of-type(2){
    width: 5rem;
    height: 2rem;
    color: gray; 
}

.btns button:hover{
    background-color: aquamarine;
}
