<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>All Assets</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css" />
    <link rel="stylesheet" href="/assets/css/asset.css">
    <link rel="stylesheet" href="/assets/css/AllAsset.css">

  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        <a href="/loginpage" class="logout">
                <span class="material-icons-outlined" title="Logout">reply</span>
        </a>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined"></span> SAILORCOM
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/dashboard">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">inventory_2</span> Assets
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">category</span> Supplies
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/users">
              <span class="material-icons-outlined">groups</span> Users
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">fact_check</span> Maintenance
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">poll</span> Reports
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/department">
              <span class="material-icons-outlined">sort</span> Department
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">settings</span> Settings
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>All Assets</h2>
        </div>
        <div class="card-content">
            <div>
                <input class="search" type="text" placeholder="Search..."  id="search">
                <button class="custom-button" id="openModalBtnasset"><span class="material-icons-outlined" title="Add Assets">plus_one</span> </button>
                <button class="custom-button" ><span class="material-icons-outlined" title="Print">computer</span> </button>
                <button class="custom-button" ><span class="material-icons-outlined" title="Print Asset tags">add_to_queue</span> </button>
                <button class="custom-button" ><span class="material-icons-outlined" title="More">build</span> </button>
            </div>

            <div class="card-content">
                <div class="card-table">
                    <div class="table-container">
                        <table id="my-table">
                          <table class="cell">
 
                            <thead>
                              <tr>
                                <th><span class="visually-hidden">Toggle</span></th>
                                <th>Locations</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td></td>
                                <td>Laguna</td>
                                <td>The Ingenious Gentleman Don Quixote of La Mancha</td>
                                <td>1605</td>
                                <td>9783125798502</td>
                               
                              </tr>
                              <tr>
                                <td>
                                  <button type="button" id="btnMSb" aria-expanded="false" onclick="toggle(this.id,'#MS01b,#MS02b,#MS03b');" aria-controls="MS01b MS02b MS03b" aria-label="3 more from" aria-labelledby="btnMSb lblMSb">
                                    <svg xmlns="\http://www.w3.org/2000/svg&quot;" viewBox="0 0 80 80" focusable="false"><path d="M70.3 13.8L40 66.3 9.7 13.8z"></path></svg>
                                  </button>
                                </td>
                                <td id="lblMSb">Cavite</td>
                                <td>Frankenstein; or, The Modern Prometheus</td>
                                <td>1818</td>
                                <td>9781530278442</td>
                                
                            
                              </tr>
                              <tr id="MS01b" class="hidden">
                                <td></td>
                                <td>Batangas</td>
                                <td>Valperga: Or, the Life and Adventures of Castruccio, Prince of Lucca</td>
                                <td>1823</td>
                                <td></td>
                               
                              </tr>
                              <tr id="MS02b" class="hidden">
                                <td></td>
                                <td>Rizal</td>
                                <td>The Last Man</td>
                                <td>1826</td>
                                <td></td>
                               
                              </tr>
                              <tr id="MS03b" class="hidden">
                                <td></td>
                                <td>Quezon</td>
                                <td>The Fortunes of Perkin Warbeck, A Romance</td>
                                <td>1830</td>
                                <td>1830</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Makati</td>
                                <td>Moby-Dick; or, The Whale</td>
                                <td>1851</td>
                                <td>1925</td>
                              </tr>
                              <tr>
                                <td>
                                  <button type="button" id="btnEDENSb" aria-expanded="false" onclick="toggle(this.id,'#EDENS01b,#EDENS02b,#EDENS03b,#EDENS04b,#EDENS05b');" aria-controls="EDENS01b EDENS02b EDENS03b EDENS04b EDENS05b" aria-label="5 more from" aria-labelledby="btnEDENSb lblEDENSb">
                                    <svg xmlns="\http://www.w3.org/2000/svg&quot;" viewBox="0 0 80 80" focusable="false"><path d="M70.3 13.8L40 66.3 9.7 13.8z"></path></svg>
                                  </button>
                                </td>
                                <td id="lblEDENSb">Manila</td>
                                <td>Manila</td>
                                <td>1888</td>
                                <td>1925</td>
                              </tr>
                              <tr id="EDENS01b" class="hidden">
                                <td></td>
                                <td>Parañaque</td>
                                <td>A Leap in the Dark: A Novel</td>
                                <td>1889</td>
                                <td>1889</td>

                              </tr>
                              <tr id="EDENS02b" class="hidden">
                                <td></td>
                                <td>Bicutan</td>
                                <td>Unknown; or the Mystery of Raven Rocks</td>
                                <td>1889</td>
                                <td>1889</td>

                             
                              </tr>
                              <tr id="EDENS03b" class="hidden">
                                <td></td>
                                <td>Sucat</td>
                                <td>The Lost Lady of Lone</td>
                                <td>1890</td>
                                <td>1889</td>
                              </tr>
                              <tr id="EDENS04b" class="hidden">
                                <td></td>
                                <td>Pasay</td>
                                <td>The Rejected Bride</td>
                                <td>1894</td>
                                <td>1889</td>
                              </tr>
                              <tr id="EDENS05b" class="hidden">
                                <td></td>
                                <td>Bulacan</td>
                                <td>Gertrude Haddon</td>
                                <td>1894</td>
                                <td>1889</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Novaliches</td>
                                <td>The Great Gatsby</td>
                                <td>1925</td>
                                <td>1925</td>

                         
                              </tr>
                              <tr>
                                <td></td>
                                <td>Valenzuela</td>
                                <td>Nineteen Eighty-Four</td>
                                <td>1948</td>
                                <td>1925</td>

                               
                              </tr>
                            </tbody>
                          </table>
                          
                      
                        <div id="pagination-container">
                          <ul id="pagination"></ul>
                        </div>
                      </div>
                  </div> 
              </div>
            </div>
      </main>
      <!-- End Main -->

      <!--Modal-->
 

      <!--Update Modal-->
   
      <!--End edit Modal-->

    </div>

    <!--Start Modal Delete-->
        <div id="myModaldelete" class="modal">
        <div class="modal-content">
            <h2 class="h2h2">ARE YOU SURE YOU WANT TO DELETE THIS?</h2>
            <div class="centered-container">
              <p class="h2black"></p>
            </div>
            <div class="centered-container">
                <button class="custom-button"><span class="material-icons-outlined" title="Delete" >delete</span></button>
                <button class="custom-button">CANCEL</button>
            </div>
        </div>
        </div>
    <!--Delete end modal-->

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/AllAsset.js"></script>
    <script src="/assets/js/dashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Custom JS -->
 
    
    <!--ADD asset JS-->
        <script>
            var openModalBtnasset = document.getElementById("openModalBtnasset");
        var closeModalBtnasset = document.getElementById("closeModalBtnasset");
        var modalasset = document.getElementById("myModalasset");

        openModalBtnasset.addEventListener("click", function() {
        modalasset.style.display = "block";
        });

        closeModalBtnasset.addEventListener("click", function() {
        modalasset.style.display = "none";
        });

        window.addEventListener("click", function(event) {
        if (event.target == modalasset) {
            modalasset.style.display = "none";
        }
        });
        </script>

    <!--EDIT USER JS-->
    <script>
       var openModalBtnassetupdate = document.getElementById("openModalBtnassetupdate");
        var closeModalBtnassetupdate = document.getElementById("closeModalBtnassetupdate");
        var modalassetupdate = document.getElementById("myModalassetupdate");

        openModalBtnassetupdate.addEventListener("click", function() {
        modalassetupdate.style.display = "block";
        });

        closeModalBtnassetupdate.addEventListener("click", function() {
        modalassetupdate.style.display = "none";
        });

        window.addEventListener("click", function(event) {
        if (event.target == modalassetupdate) {
            modalassetupdate.style.display = "none";
        }
        });
    </script>
    <!--DELETE USER JS-->
    <script>
        var openModalBtndelete = document.getElementById("openModalBtndelete");
        var closeModalBtndelete = document.getElementById("closeModalBtndelete");
        var modaldelete = document.getElementById("myModaldelete");

        openModalBtndelete.addEventListener("click", function() {
        modaldelete.style.display = "block";
        });

        closeModalBtndelete.addEventListener("click", function() {
        modaldelete.style.display = "none";
        });

        window.addEventListener("click", function(event) {
        if (event.target == modaledit) {
            modaldelete.style.display = "none";
        }
        });  
    </script>
  </body>
</html>