<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Facilities</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css" />
    <link rel="stylesheet" href="/assets/css/asset.css">
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        <a href="/loginpage" class="logout">
                <span class="material-icons-outlined" title="Logout">reply</span>
        </a>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined"></span> SAILORCOM
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="dashboard.html" target="_blank">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">inventory_2</span> Assets
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">category</span> Supplies
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/users">
              <span class="material-icons-outlined">groups</span> Users
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">fact_check</span> Maintenance
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">poll</span> Reports
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/department">
              <span class="material-icons-outlined">sort</span> Department
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined">settings</span> Settings
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>Facilities</h2>
        </div>
        <div class="card-content">
            <div>
                <input class="search" type="text" placeholder="Search Facilities"  id="search">
                <button class="custom-button" id="openModalBtnasset"><span class="material-icons-outlined" title="Add Assets">plus_one</span> </button>
                <button class="custom-button" ><span class="material-icons-outlined" title="Print">computer</span> </button>
                <button class="custom-button" ><span class="material-icons-outlined" title="Print Asset tags">add_to_queue</span> </button>
                <button class="custom-button" ><span class="material-icons-outlined" title="More">build</span> </button>
            </div>

            <div class="card-content">
                <div class="card-table">
                    <div class="table-container">
                        <table id="my-table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Locations</th>
                              <th>Last Price</th>
                              <th>Person Incharge</th>
                              
                              <th>Contact Number</th>
                            
                              <th>ACTION</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>JOHN WICK 4</td>
                                <td>#8484848</td>
                                <td>SINGLE</td>
                                <td>$200</td>
                                <td>MR. WICK</td>
                                <td>BATANGGAS</td>
                                <td>CAMOTE</td>
                                <td>
                                </td>
                            </tr>
                          </tbody>
                        </table>
                      
                        <div id="pagination-container">
                          <ul id="pagination"></ul>
                        </div>
                      </div>
                  </div> 
              </div>
            </div>
      </main>
      <!-- End Main -->

      <!--Modal-->
      <div id="myModalasset" class="modal">
        <div class="modal-content">
          <h2 class="h2h2">Add Facilities</h2>

            <div class="centered-container">
              <div class="name">Name</div>
                <input class="input-dept" type="text" placeholder="Company Name" id="name" required>
            </div>
            <div class="centered-container">
              <div class="name">Location</div>
                <input class="input-dept" type="text" placeholder="Location" id="username" required>
            </div>
            <div class="centered-container">
              <div class="name">Last Price</div>
                <input class="input-dept" type="text" placeholder=" Price" id="password" required>
            </div>
        
            <div class="centered-container">
              <div class="name"> Person Incharge</div>
              <input class="input-dept" type="text" placeholder="Person incharge" id="password" required>
            </div>
            <div class="centered-container">
              <div class="name">Contact Number</div>
              <input class="input-dept" type="text" placeholder="Contact Number" id="password" required>
            </div>
           
            <div class="centered-container">
                <button class="custom-button"><span class="material-icons-outlined" title="CREATE" >create</span></button>
                <button class="custom-button">CANCEL</button>
            </div>         
        </div>
      </div>
      <!--End Modal-->

      <!--Update Modal-->
      <div id="myModalassetupdate" class="modal">
        <div class="modal-content">
          <h2 class="h2h2">Add Facilities</h2>

          <div class="centered-container">
            <div class="name">Name</div>
              <input class="input-dept" type="text" placeholder="Company Name" id="name" required>
          </div>
          <div class="centered-container">
            <div class="name">Location</div>
              <input class="input-dept" type="text" placeholder="Location" id="username" required>
          </div>
          <div class="centered-container">
            <div class="name">Last Price</div>
              <input class="input-dept" type="text" placeholder=" Price" id="password" required>
          </div>
      
          <div class="centered-container">
            <div class="name"> Person Incharge</div>
            <input class="input-dept" type="text" placeholder="Person incharge" id="password" required>
          </div>
          <div class="centered-container">
            <div class="name">Contact Number</div>
            <input class="input-dept" type="text" placeholder="Contact Number" id="password" required>
          </div>
         
          <div class="centered-container">
              <button class="custom-button"><span class="material-icons-outlined" title="CREATE" >create</span></button>
              <button class="custom-button">CANCEL</button>
          </div>         
        </div>
      </div>
      <!--End edit Modal-->

    </div>

    <!--Start Modal Delete-->
        <div id="myModaldelete" class="modal">
        <div class="modal-content">
            <h2 class="h2h2">ARE YOU SURE YOU WANT TO DELETE THIS?</h2>
            <div class="centered-container">
              <p class="h2black"></p>
            </div>
            <div class="centered-container">
                <button class="custom-button"><span class="material-icons-outlined" title="Delete" >delete</span></button>
                <button class="custom-button">CANCEL</button>
            </div>
        </div>
        </div>
    <!--Delete end modal-->

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="/assets/js/listoffacilities.js"></script>
    <script src="/assets/js/dashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Custom JS -->
 
    
    <!--ADD asset JS-->
        <script>
            var openModalBtnasset = document.getElementById("openModalBtnasset");
        var closeModalBtnasset = document.getElementById("closeModalBtnasset");
        var modalasset = document.getElementById("myModalasset");

        openModalBtnasset.addEventListener("click", function() {
        modalasset.style.display = "block";
        });

        closeModalBtnasset.addEventListener("click", function() {
        modalasset.style.display = "none";
        });

        window.addEventListener("click", function(event) {
        if (event.target == modalasset) {
            modalasset.style.display = "none";
        }
        });
        </script>

    <!--EDIT USER JS-->
    <script>
       var openModalBtnassetupdate = document.getElementById("openModalBtnassetupdate");
        var closeModalBtnassetupdate = document.getElementById("closeModalBtnassetupdate");
        var modalassetupdate = document.getElementById("myModalassetupdate");

        openModalBtnassetupdate.addEventListener("click", function() {
        modalassetupdate.style.display = "block";
        });

        closeModalBtnassetupdate.addEventListener("click", function() {
        modalassetupdate.style.display = "none";
        });

        window.addEventListener("click", function(event) {
        if (event.target == modalassetupdate) {
            modalassetupdate.style.display = "none";
        }
        });
    </script>
    <!--DELETE USER JS-->
    <script>
        var openModalBtndelete = document.getElementById("openModalBtndelete");
        var closeModalBtndelete = document.getElementById("closeModalBtndelete");
        var modaldelete = document.getElementById("myModaldelete");

        openModalBtndelete.addEventListener("click", function() {
        modaldelete.style.display = "block";
        });

        closeModalBtndelete.addEventListener("click", function() {
        modaldelete.style.display = "none";
        });

        window.addEventListener("click", function(event) {
        if (event.target == modaledit) {
            modaldelete.style.display = "none";
        }
        });  
    </script>
  </body>
</html>